extends layout

block content
  p Join the club!
  p <strong>BASIC</strong> users are able to post/view anonymous messages 
  p <strong>VIP</strong> users can view user and message details 
  p <strong>MODERATORS</strong> have access to admin rights
