extends layout

block content
  .container 
    .header
      h2 Join the club!
    .home-content
      div <h3>BASIC</h3> 
        p Post/view anonymous messages 
      div <h3>VIP</h3> 
        p Basic features + view user and message details and may receive an invitation to become a moderator
      div <h3>MODERATORS</h3> 
        p All features + admin rights
