doctype html
html
  head
    title= `Members Only`
    link(rel='stylesheet', href='/stylesheets/style.css')
  header 
    div
      a(href='/'): h1 Members Only
    nav
      if (!loggedIn) 
        a(href='/sign-up'): button Sign Up
        a(href='/login'): button Log In
      else if (loggedIn && isMod)
        a(href='/admin-page'): button Admin Access
        a(href='/logout'): button Log Out
      else
        a(href='/mod-signUp'): button MOD Sign Up
        a(href='/logout'): button Log Out
  main
    block content
  footer
    | #[em Created by Ethan Chan @ 2023]
