extends layout

block content
  .container 
    .header
      h2 Login
    .form-content
      form(method="post")
        div 
          label(for='username') Username:
          input(type="text" name='username' id='username' required)
        div
          label(for='password') Password:
          input(type="password" name='password' id='password' required)
          if errorMessages
            for err in errorMessages
              p.error-msg #{err}
        div 
          button(type='submit') Login
