extends layout

block content
  h2 New Message
  form(method="post")
    label(for="title") Title:
    input#title(type="text" name="title" required)  
    
    label(for="message") Message: 
    input#message(type="text" name="message" maxlength="200" required )  

    button(type="submit") Post Message

