extends layout
block content
  h2 VIP membership 
  form(method="post")
    div 
      label(for='username') Username:
      input#username(type="text" name='username' required)
    div
      input#isVip.checkbox(type="checkbox" name='isVip' required)
      label.checkbox(for='isVip')  Sign up as a VIP Member ($9.99/month)
    div
    div
      label(for='password') Password:
      input#password(type="password" name='password' required)
      if errors 
        each error in errors 
          ul
            li.error-msg #{error.msg}
      if errorMessages
        for err in errorMessages
          p.error-msg #{err}
    div 
      button(type='submit') Submit