extends layout

block content
  .container
    .header
      h2 New Message
    .form-content
      form(method="post")
        div
          label(for="title") Title:
          input#title(type="text" name="title" required)  
        div
          label(for="message") Message: 
          input#message(type="text" name="message" maxlength="200" required )  
        div
          button(type="submit") Post Message

