extends layout
//- work preserving values in form on fail submission
block content
  h2 Sign Up 
  form(method="post")
    div 
      label(for='username') Username:
      input(type="text" name='username' id='username' value=(user === undefined ? '' : user.username) required)
    div
      label(for='password') Password:
      input(type="password" name='password' id='password' required)
    div
      label(for='confirm-password') Confirm Password:
      input(type="password" name='confirmPassword' id='confirmPassword' required) 
      if errors 
        each error in errors 
          ul
            li.error-msg #{error.msg}
    div 
      button(type='submit') Submit